# Testing a Difference of Means

One of the most common statistical tests is whether two data sets come from distributions with the same means. The mean is special because of the Central Limit Theorem (see {doc}`Section 8.7.3.2<../08-random-variables/important-continuous-rvs>`) -- regardless of the type of distribution of the underlying data[^clt], the distribution of the sample mean will be approximately Normal if there are at least tens of data points. This allows two approaches to conducting tests involving sample means: we can either use bootstrap resampling or we can use analysis by applying the assumption that sample means are approximately Normal.  To understand how to apply the analytical approaches, we need to characterize the sample mean estimators and the test statistic, which is the difference between the sample mean estimators.

# Linear Combinations of Independent Gaussian RVs

Suppose we have two  data samples $\mathbf{X}=\left[X_0,X_1,\cdots,X_{n_X-1} \right]$ and $\mathbf{Y}=\left[Y_0,Y_1,\cdots,Y_{n_Y-1}\right]$, where the data samples are assumed to be independent[^ci]. Let's first characterize the sample mean estimators. For conciseness, we present results for $\hat{\mu}_X$. The results for $\hat{\mu}_Y$ are analogous and are noted at the end of the analysis for $\hat{\mu}_X$.

From {doc}`Section 9.4<parameter-estimation>`, we know that the sample mean estimator is unbiased. Thus, the expected value of the sample mean estimator is the true mean. We will also need the variance of the sample mean estimator in our analysis. Let $\sigma_{X}^2$ be the variance of the $X_i$. Then the variance of the sample mean estimator is 
\begin{align*}
\operatorname{Var} \left[ \hat{\mu}_X \right] &= \operatorname{Var} \left[ \frac 1 {n_X} \sum_{i=0}^{n_X-1} X_i \right] \\
&= \frac 1 {n_{X}^2} \operatorname{Var} \left[  \sum_{i=0}^{n_X-1} X_i \right], \\
\end{align*}
where the second line of the equation follows from Property 3 of variance (see {doc}`Section 9.3.4<moments>`). Since the random variables in $\mathbf{X}$ are independent, we can apply Property 4 of variance to get
\begin{align*}
\operatorname{Var} \left[ \hat{\mu}_X \right] &= \frac 1 {n_{X}^2}  \sum_{i=0}^{n_{X}-1} \operatorname{Var} \left[  X_i \right] \\
&= \frac 1 {n_{X}^2}  \sum_{i=0}^{n_{X}-1} \sigma_{X}^2\\
&= \frac 1 {n_{X}^2}  n_{X} \sigma_{X}^2\\
&= \frac {\sigma_{X}^2} {n_{X}}  .
\end{align*}
The variance of the sample mean estimator decreases linearly with the number of samples. (This can be used to show that the sample mean estimator converges to the true mean as $n_{X} \rightarrow \infty$ if $\sigma_{X}^2$ is finite.)

The analysis above is sufficient to characterize $\hat{\mu}_X$ and $\hat{\mu}_Y$:
\begin{align*}
\hat{\mu}_X \sim \mbox{Normal} \left(\mu_X, \frac{\sigma_X}{\sqrt{n_X}} \right) &&
\hat{\mu}_Y \sim \mbox{Normal} \left(\mu_Y, \frac{\sigma_Y}{\sqrt{n_Y}} \right) 
\end{align*}


[^ci]: Actually, the data within each group are only *conditionally independent* given the group it belongs to.

To assess a difference in means, we will create a test statistic that is the difference between sample mean estimators. For convenience, we will considerr the case $T = \hat{\mu}_X - \hat{\mu}_Y$, but the result for $T = \hat{\mu}_Y - \hat{\mu}_X$ is almost identical. The mean of the test statistic is 
\begin{align*}
E[T] & = E\left[\hat{\mu}_X - \hat{\mu}_Y \right] \\
&= E\left[\hat{\mu}_X\right]  - E \left[\hat{\mu}_Y \right] && \mbox{(by linearity)} \\
&= \mu_X - \mu_Y &&\mbox{(the estimators are unbiased)}.
\end{align*}



To find the variance of $T$, we first rewrite the formula for the test statistic slightly, as $T = \hat{\mu}_X + (-1) \hat{\mu}_Y$. Since $\mathbf{X}$ and $\mathbf{Y}$ are independent, so are variables computed from them. Thus, 
\begin{align*}
\sigma_{T}^2 &= \operatorname{Var}[T] \\
& = \operatorname{Var}\left[\hat{\mu}_X + (-1) \hat{\mu}_Y \right] \\
& = \operatorname{Var}\left[\hat{\mu}_X \right] + 
\operatorname{Var} \left[(-1) \hat{\mu}_Y \right] 
&& \mbox{(by Property 4 of variance)}\\
& = \frac{\sigma_{X}^2}{n_X} +  (-1)^2\frac{\sigma_{Y}^2}{n_Y}
&& \mbox{(from above and Property 3)}\\
& = \frac{\sigma_{X}^2}{n_X} +  \frac{\sigma_{Y}^2}{n_Y} \\
\end{align*}

Importantly, a linear combination of independent Normal random variables is also a Normal random variable. Thus we have a characterization of the test statistic:
\begin{equation*}
T \sim \mbox{Normal} \left( \mu_X - \mu_Y, \sqrt{\frac{\sigma_{X}^2}{n_X} +  \frac{\sigma_{Y}^2}{n_Y}} \right)
\end{equation*}

## Statistical Inference for a Difference of Sample Means *with Known and Equal Variances*

Consider the case where we know that the data come from distributions with the same variance, $\sigma^2$, and that we know the value of $\sigma^2$. Suppose we have samples from these distributions, 
\begin{align*}
\mathbf{x} = \left[ x_0, x_1, \ldots, x_{n_X-1} \right],
\end{align*}
and
\begin{align*}
\mathbf{y} = \left[ y_0, y_1,\ldots, y_{n_Y-1} \right].
\end{align*}
Let the averages of the data be denoted by $\overline{\mathbf{x}}$ and $\overline{\mathbf{y}}$, and denote the true (but unknown) means of the distributions as $\mu_X$ and $\mu_Y$.


We can now easily conduct a NHST. The null hypothesis is that the data have the same mean and so $E[T]=0$.  Let the observed value of the test statistic be $t = \overline{\mathbf{x}} - \overline{\mathbf{y}}$. Below I assume that $t>0$; if not, then interchange the role of $x$ and $y$.


Under the assumption that variances of the $X_i$ and $Y_k$ are both equal to $\sigma^2$, the variance of $T$ simplifies to 
\begin{align*}
\sigma_{T}^2  & = \frac{\sigma^2}{n_X} +  \frac{\sigma^2}{n_Y} \\
 & = \sigma^2 \left( \frac{1}{n_X} +  \frac{1}{n_Y} \right) \\
\end{align*}

Once we know the mean and variance of $T$, then the NHST is straight-forward application of the results in {doc}`Chapter 8<../08-random-variables/intro>`:

* For a one-sided hypothesis test, the $p$-value is
    
    $$
    P(T \geq t | H_0) = Q\left(\frac{t - \mu_T}{\sigma_T}\right) = Q\left(\frac{t}{\sigma \sqrt{\frac{1}{M}+\frac{1}{N}}}\right).
    $$
    
* For a two-sided NHST, the $p$ value is
    
    $$
    P(|T| \geq t | H_0) = 2 Q\left(\frac{t}{\sigma \sqrt{\frac{1}{M}+\frac{1}{N}}}\right).
    $$
Note that in both these cases, the only information that is needed is the observed value of the test statistic, the standard deviation of the data, and the number of samples in each group ($M$ and $N$).

## Binary Hypothesis Tests with *Unknown Variance*

In most cases, the variance(s) of the underlying distributions are not known and must be estimated from the data. The result of having to estimate the variance is that we can no longer treat the test statistic as Normal. Instead, the fact that we have to use an estimate for the variance will cause the distribution to spread out more than if we used a Normal distribution with that estimated variance, so that more of the probability is out towards the tails of the distribution.

Consider testing whether two samples $\mathbf{x}$ and $\mathbf{y}$ have the same mean.  Let the number of data points in the samples be $n_x = |\mathbf{x}|$ and $n_y = \mathbf{y}$. To determine the probability of seeing a mean value as large as $t$, we note that the under the null hypothesis, the mean of the scaled mean estimator is zero. Then a properly scaled version of the sample mean estimator will be a zero-mean Student's $t$ random variable.  The scaling factor will depend on whether we can assume that the variances of the two samples are equal. The variance estimates require, the mean estimates for each sample, which are given by
\begin{align*}
\overline{\mathbf{x} } &= \frac{1}{n_x} \sum_{i=0}^{n_x-1} x_i, \mbox{ and} \\
\overline{\mathbf{y} } &= \frac{1}{n_y} \sum_{i=0}^{n_y-1} y_i.
\end{align*}

The unbiased variance estimator for each sample is
\begin{align*}
s_{x}^{2} &= \frac{1}{n_x-1} \sum_{i=0}^{n_x-1} \left[ x_{i} - \overline{\mathbf{x}} \right]^2, \mbox{ and} \\
s_{y}^{2} &= \frac{1}{n_y-1} \sum_{i=0}^{n_y-1} \left[ y_{i} - \overline{\mathbf{y}} \right]^2.
\end{align*}

The resulting test for statistical significance is called a $t$-test. 

We consider two cases:

**1.** Test for equal means with *unknown, unequal variances*

If we cannot assume that the variances are equal, then the following normalized form will have the $T$ distribution:

\begin{align*}
\frac{\hat{\mu}}{S\sqrt{\frac {s_{x}^2}{ n_x} + \frac {s_{y}^2}{n_y}}} \sim 
\end{align*}


\begin{align*}
\frac{\hat{\mu}}{S\sqrt{\frac 1 m + \frac 1 n}} \sim 
\end{align*}
Here $S^2$ is the **unbiased** sample variance for the pooled data. If the pooled data is $x_0, x_1, \ldots x_{m+n-1}$, then 
\begin{align*}
\frac{1}{m+n-1} \sum_{i=0}^{n+m-1} \left(x_i - \overline{x} \right)^2.
\end{align*}

In [232]:
?stats.t

Signature:       stats.t(*args, **kwds)
Type:            t_gen
String form:     <scipy.stats._continuous_distns.t_gen object at 0x7f81ad93c5b0>
File:            /Applications/anaconda3/lib/python3.9/site-packages/scipy/stats/_continuous_distns.py
Docstring:
A Student's t continuous random variable.

For the noncentral t distribution, see `nct`.

As an instance of the `rv_continuous` class, `t` object inherits from it
a collection of generic methods (see below for the full list),
and completes them with details specific for this particular distribution.

Methods
-------
rvs(df, loc=0, scale=1, size=1, random_state=None)
    Random variates.
pdf(x, df, loc=0, scale=1)
    Probability density function.
logpdf(x, df, loc=0, scale=1)
    Log of the probability density function.
cdf(x, df, loc=0, scale=1)
    Cumulative distribution function.
logcdf(x, df, loc=0, scale=1)
    Log of the cumulative distribution function.
sf(x, df, loc=0, scale=1)
    Survival function  (also defined as ``1 - cdf``, but `sf` is sometimes more accurate).
logsf(x, df, loc=0, scale=1)
    Log of the survival function.
ppf(q, df, loc=0, scale=1)
    Percent point function (inverse of ``cdf`` --- percentiles).
isf(q, df, loc=0, scale=1)
    Inverse survival function (inverse of ``sf``).
moment(n, df, loc=0, scale=1)
    Non-central moment of order n
stats(df, loc=0, scale=1, moments='mv')
    Mean('m'), variance('v'), skew('s'), and/or kurtosis('k').
entropy(df, loc=0, scale=1)
    (Differential) entropy of the RV.
fit(data)
    Parameter estimates for generic data.
    See `scipy.stats.rv_continuous.fit <https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.rv_continuous.fit.html#scipy.stats.rv_continuous.fit>`__ for detailed documentation of the
    keyword arguments.
expect(func, args=(df,), loc=0, scale=1, lb=None, ub=None, conditional=False, **kwds)
    Expected value of a function (of one argument) with respect to the distribution.
median(df, loc=0, scale=1)
    Median of the distribution.
mean(df, loc=0, scale=1)
    Mean of the distribution.
var(df, loc=0, scale=1)
    Variance of the distribution.
std(df, loc=0, scale=1)
    Standard deviation of the distribution.
interval(alpha, df, loc=0, scale=1)
    Endpoints of the range that contains fraction alpha [0, 1] of the
    distribution

See Also
--------
nct

Notes
-----
The probability density function for `t` is:

.. math::

    f(x, \nu) = \frac{\Gamma((\nu+1)/2)}
                    {\sqrt{\pi \nu} \Gamma(\nu/2)}
                (1+x^2/\nu)^{-(\nu+1)/2}

where :math:`x` is a real number and the degrees of freedom parameter
:math:`\nu` (denoted ``df`` in the implementation) satisfies
:math:`\nu > 0`. :math:`\Gamma` is the gamma function
(`scipy.special.gamma`).

The probability density above is defined in the "standardized" form. To shift
and/or scale the distribution use the ``loc`` and ``scale`` parameters.
Specifically, ``t.pdf(x, df, loc, scale)`` is identically
equivalent to ``t.pdf(y, df) / scale`` with
``y = (x - loc) / scale``. Note that shifting the location of a distribution
does not make it a "noncentral" distribution; noncentral generalizations of
some distributions are available in separate classes.

Examples
--------
>>> from scipy.stats import t
>>> import matplotlib.pyplot as plt
>>> fig, ax = plt.subplots(1, 1)

Calculate the first four moments:

>>> df = 2.74
>>> mean, var, skew, kurt = t.stats(df, moments='mvsk')

Display the probability density function (``pdf``):

>>> x = np.linspace(t.ppf(0.01, df),
...                 t.ppf(0.99, df), 100)
>>> ax.plot(x, t.pdf(x, df),
...        'r-', lw=5, alpha=0.6, label='t pdf')

Alternatively, the distribution object can be called (as a function)
to fix the shape, location and scale parameters. This returns a "frozen"
RV object holding the given parameters fixed.

Freeze the distribution and display the frozen ``pdf``:

>>> rv = t(df)
>>> ax.plot(x, rv.pdf(x), 'k-', lw=2, label='frozen pdf')

Check accuracy of ``cdf`` and ``ppf``:

>>> vals = t.ppf([0.001, 0.5, 0.999], df)
>>> np.allclose([0.001, 0.5, 0.999], t.cdf(vals, df))
True

Generate random numbers:

>>> r = t.rvs(df, size=1000)

And compare the histogram:

>>> ax.hist(r, density=True, histtype='stepfilled', alpha=0.2)
>>> ax.legend(loc='best', frameon=False)
>>> plt.show()
Class docstring:
A Student's t continuous random variable.

For the noncentral t distribution, see `nct`.

%(before_notes)s

See Also
--------
nct

Notes
-----
The probability density function for `t` is:

.. math::

    f(x, \nu) = \frac{\Gamma((\nu+1)/2)}
                    {\sqrt{\pi \nu} \Gamma(\nu/2)}
                (1+x^2/\nu)^{-(\nu+1)/2}

where :math:`x` is a real number and the degrees of freedom parameter
:math:`\nu` (denoted ``df`` in the implementation) satisfies
:math:`\nu > 0`. :math:`\Gamma` is the gamma function
(`scipy.special.gamma`).

%(after_notes)s

%(example)s
Call docstring:
Freeze the distribution for the given arguments.

Parameters
----------
arg1, arg2, arg3,... : array_like
    The shape parameter(s) for the distribution.  Should include all
    the non-optional arguments, may include ``loc`` and ``scale``.

Returns
-------
rv_frozen : rv_frozen instance
    The frozen distribution.

**Example: Analytical Test on Difference of Means (T-Test)**

```{warning}

The following example is about deaths caused by firearms, and this may be a sensitive topic for some readers. In addition, the example is particularly about assessing the effect of gun legislation on firearms deaths, which is a politically sensitive topic. However, I have chosen to include this example because of its relevance to the national discussion around these topics. Readers should know that a simple analysis like that included here can suggest a relationship between factors that may actually be attributable to other underlying causes. 

Please read this example with an open mind and the desire to see what the data indicates. 
```

In this example, we will consider the effect of "permitless carry" on different types of firearms deaths. Here "permitless carry" (variants of which are also known as "constitiutional carry") allows gun owners in a state to carry a loaded firearm without having to apply to the government for a gun permit. There are actually many variations on permitless carry, but I consider a state to allow permitless carry if state's citizens can generaly carry (either open or concealed) a loaded firearm without a gun permit. 

The two research hypotheses I will consider are:
1. There is a difference in firearms homicide rates between states with permitless carry and those without.
1. There a difference in firearms suicide rates between states with permitless carry and those without.

To answer these questions, we will need to collect data from two separate sources. For the firearms mortality data, we can use firearms mortality data from CDC WONDER, which is the Wide-ranging ONline Data for Epidemiologic Research.  In particular, I have used WONDER SEARCH to access data from [Underlying Cause of Death 1999-2020](https://wonder.cdc.gov/ucd-icd10.html). I have downloaded data by state for the following Causes of Death, shown using IC-10 codes:
* X93: Assault by handgun discharge
* X94: Assault by rifle, shotgun, and larger firearm discharge
* X95: Assault by other and unspecified firearm discharge.

I selected to download the total deaths across these categories, the population, and the crude rate. Here, the crude rate is defined as the deaths per population times 100,000. The resulting download is a tab-separate value (TSV) file, which is very similar to the CSV files that we saw previously, except the field separators are tabs instead of commas. The resulting file is available on GitHub at https://raw.githubusercontent.com/jmshea/Foundations-of-Data-Science-with-Python/main/09-moments/data/wonder-homicides-2020.tsv

Data for suicides was retrieved from the same WONDER database using the following IC-10 codes:
* X72: Intentional self-harm by handgun discharge
* X73: Intentional self-harm by rifle, shotgun, and larger firearm discharge
* X74: Intentional self-harm by  other and unspecified firearm discharge.
The resulting TSV is available on GitHub at https://raw.githubusercontent.com/jmshea/Foundations-of-Data-Science-with-Python/main/09-moments/data/wonder-suicides-2020.tsv.

To load these data into Pandas, we can use `pd.read_csv()`, but we need to tell that function that the data is separated by tabs instead of commas. To do this, we will pass the keyword argument `sep = '\t'`, where `\t` is a special code that translates to the tab character. Code to load these two data sets is below. (Note that because these files are being read directly from GitHub, you will need an active internet connection with GitHub access to retrieve them.

In [9]:
import pandas as pd

In [155]:
#suicides = pd.read_csv('data/wonder-suicides-2020.tsv', sep='\t')
#homicides = pd.read_csv('data/wonder-homicides-2020.tsv', sep='\t')
suicides = pd.read_csv('https://raw.githubusercontent.com/jmshea/Foundations-of-Data-Science-with-Python/main/09-moments/data/wonder-suicides-2020.tsv', sep='\t')
homicides= pd.read_csv('https://raw.githubusercontent.com/jmshea/Foundations-of-Data-Science-with-Python/main/09-moments/data/wonder-homicides-2020.tsv', sep='\t')

Let's merge these two dataframes into a single dataframe. To do that, I am first going to do some preparation:
1. We will drop the Notes, Crude Rate, and State Code columns from the `suicides` dataframe.
2. We will drop all of the above plus the Population column from the `homicides` dataframe (because we are going to merge with the `suicides` dataframe that already has the information.
3. We will relabel the `Deaths` column of each dataframe to match the type of death.
Here are these first steps:

In [156]:
#1.
suicides.drop(columns=['Notes', 'Crude Rate', 'State Code'], inplace=True)

#2.
homicides.drop(columns=['Notes', 'Population', 'Crude Rate', 'State Code'], inplace=True)

#3. 
suicides.rename({'Deaths': 'Suicides'}, axis=1, inplace=True)
homicides.rename({'Deaths': 'Homicides'}, axis=1, inplace=True)

Let's check each dataframe now:

In [157]:
suicides.head()

        State  Suicides  Population
0     Alabama       542     4921532
1      Alaska       133      731158
2     Arizona       830     7421401
3    Arkansas       364     3030522
4  California      1552    39368078

In [158]:
homicides.head()

        State  Homicides
0     Alabama        564
1      Alaska         27
2     Arizona        382
3    Arkansas        282
4  California       1731

A few notes:
1. We are interested in mortality **rates**, and we could have preserved the `Crude Rate` column instead of the `Deaths` column. However, the `Crude Rate` is computed from `Deaths` and `Population`, and preserving these separately will allow us to analyze the data in different ways. Moreover, the `Crude Rate` for suicide in some states is listed as `unreliable`, corresponding to fewer than 20 suicide deaths in that state. Since we are never using these rates for a single state in isolation, the values are useful to our analysis, and we will use all the rate data.
2. Note that these dataframes are of different sizes:

In [233]:
len(suicides), len(homicides)

(50, 49)

When we merge them, we need to decide to handle any discrepancies in which states are included. I will use the approach that we only include in the combined data set those states that have entries in *both* of the `suicides` and `homicides` dataframes. This is called an *inner join*.  We will use the `merge()` method of the `suicides` Pandas dataframe, which takes as argument the dataframe to be merged. We will specify the keyword argument `on = 'State'` to specify that we are matching up the rows from the different dataframes based on the entry in the `State` column. We will  pass the keyword argument `how = 'inner'`, to do an inner join and preserve only those entries that appear in *both* of the dataframes being merged.

In [176]:
all_deaths=suicides.merge(homicides, on='State', how='inner')
all_deaths

             State  Suicides  Population  Homicides
0          Alabama       542     4921532        564
1           Alaska       133      731158         27
2          Arizona       830     7421401        382
3         Arkansas       364     3030522        282
4       California      1552    39368078       1731
5         Colorado       654     5807719        235
6      Connecticut       109     3557006        101
7         Delaware        58      986809         76
8          Florida      1730    21733312       1227
9          Georgia       939    10710017        899
10          Hawaii        31     1407006         16
11           Idaho       277     1826913         26
12        Illinois       543    12587530       1167
13         Indiana       609     6754953        496
14            Iowa       260     3163561         83
15          Kansas       314     2913805        160
16        Kentucky       518     4477251        341
17       Louisiana       406     4645318        747
18           Maine       132     1350141         15
19        Maryland       267     6055802        526
20   Massachusetts       134     6893574        130
21        Michigan       761     9966555        672
22       Minnesota       354     5657342        138
23     Mississippi       278     2966786        499
24        Missouri       704     6151548        683
25         Montana       189     1080577         33
26        Nebraska       139     1937552         49
27          Nevada       372     3138259        148
28      New Jersey       181     8882371        253
29      New Mexico       303     2106319        149
30        New York       462    19336776        561
31  North Carolina       879    10600823        744
32    North Dakota        77      765309         17
33            Ohio       903    11693217        824
34        Oklahoma       538     3980783        269
35          Oregon       454     4241507        109
36    Pennsylvania       919    12783254        788
37    Rhode Island        30     1057125         22
38  South Carolina       565     5218040        528
39    South Dakota        88      892717         26
40       Tennessee       767     6886834        652
41           Texas      2287    29360759       1734
42            Utah       339     3249879         75
43        Virginia       697     8590563        440
44      Washington       618     7693612        211
45   West Virginia       220     1784787         87
46       Wisconsin       442     5832655        253
47         Wyoming       128      582328         18

Let's check the length of the merged dataframe:

In [161]:
len(all_deaths)

48

Even though the smaller of the dataframes had 49 rows, the inner join produced only 48 rows. The `homicides` dataframe actually has entries for all 50 states, but the `suicides` dataframe has entries for only 48 states and the District of Columbia.

Now let's go ahead and compute the homicide and suicide rates (scaled up by 100,000):

In [182]:
all_deaths['Homicide Rate'] = all_deaths['Homicides'] / all_deaths['Population'] * 100_000

In [183]:
all_deaths['Suicide Rate'] = all_deaths['Suicides'] / all_deaths['Population'] * 100_000

In [184]:
all_deaths.head()

        State  Suicides  Population  Homicides  Homicide Rate  Suicide Rate
0     Alabama       542     4921532        564      11.459846     11.012831
1      Alaska       133      731158         27       3.692772     18.190323
2     Arizona       830     7421401        382       5.147276     11.183872
3    Arkansas       364     3030522        282       9.305328     12.011132
4  California      1552    39368078       1731       4.396963      3.942280

The second source of data we will need is on permitless carry of firearms. I used the table at [Wikipedia: Constitutional Carry - Ages to carry without a permit](https://en.wikipedia.org/wiki/Constitutional_carry#Ages_to_carry_without_a_permit) and the source documents to create a CSV file that gives a list states that permitted a *state resident* to carry a *handgun* without a permit as of 2020. For each such state, the age at which a handgun can be carried without a permit is listed for both *open* and *concealed* carry. If permitless carry of a handgun by a state resident is not allowed for one of these categories, the entry is "N/A". States not in this CSV file do not allow permitless carry as of 2020.  The resulting CSV file is available on GitHub at https://raw.githubusercontent.com/jmshea/Foundations-of-Data-Science-with-Python/main/09-moments/data/permitless-carry-2020.csv.

Let's load this data into another Pandas dataframe:

In [185]:
permitless_df = pd.read_csv('https://raw.githubusercontent.com/jmshea/Foundations-of-Data-Science-with-Python/main/09-moments/data/permitless-carry-2020.csv')
permitless_df

            State  Permitless_open  Permitless_concealed
0         Alabama             18.0                   NaN
1          Alaska             16.0                  21.0
2         Arizona             18.0                  21.0
3        Arkansas             18.0                  18.0
4           Idaho             18.0                  18.0
5          Kansas             18.0                  21.0
6        Kentucky             18.0                  21.0
7           Maine             18.0                  21.0
8     Mississippi             18.0                  18.0
9        Missouri             18.0                  18.0
10        Montana             18.0                   NaN
11  New Hampshire             18.0                  18.0
12   North Dakota              NaN                  18.0
13           Ohio              NaN                  21.0
14       Oklahoma             21.0                  21.0
15   South Dakota             18.0                  18.0
16        Vermont             16.0                  16.0
17  West Virginia             18.0                  21.0
18        Wyoming             18.0                  21.0

We will again use the `merge()` method of the Pandas dataframe, 
but this time we will use it on the `all_deaths` dataframe.  We will specify the keyword argument `on = 'State'` to specify that we are matching up the rows from the different dataframes based on the entry in the `State` column. For this merge operation, we do not want to do an inner join because that would drop all of the death data for states that do not allow permitless carry. Instead, we will perform a *left join*, which means we will preserve all of the keys in the `all_deaths` dataframe, which appears to the left of the `permitless` dataframe.

Here is that left join:

In [186]:
df = all_deaths.merge(permitless_df, on = 'State', how = 'left')

It will be convenient to index this dataframe by the State:

In [187]:
df.set_index('State', inplace=True)

For convenience of display, I will remap the order of the columns:

In [195]:
df2 = df[ ['Population', 'Homicides', 'Homicide Rate', 'Suicides', 'Suicide Rate', 'Permitless_open', 'Permitless_concealed'] ]

In [196]:
df2.head()

,Population,Homicides,Homicide Rate,Suicides,Suicide Rate,Permitless_open,Permitless_concealed
State,,,,,,,
Alabama,4921532,564,11.459846,542,11.012831,18.0,NaN
Alaska,731158,27,3.692772,133,18.190323,16.0,21.0
Arizona,7421401,382,5.147276,830,11.183872,18.0,21.0
Arkansas,3030522,282,9.305328,364,12.011132,18.0,18.0
California,39368078,1731,4.396963,1552,3.942280,NaN,NaN

Note that California is not one of the states in the `permitless` dataframe and yet its firearms mortality data is preserved in the merged dataframe.

Finally, let's split `df` back into two separate dataframes based on whether they allow permitless carry (open or concealed, at any age) or not. When using `df.query()`, we can combine logical conditions using "|" to represent logical **or** or "&" to represent logical **and**. Thus, the following queries can be used to partition `df`:

In [197]:
permitless = df2.query('Permitless_concealed >0 | Permitless_open >0')
permit = df2.query('Permitless_concealed.isnull() & Permitless_open.isnull()')

As a check, we can see that the sizes of `permitless` and `permit` equal the size of `df`:

In [198]:
len(permitless), len(permit), len(df)

(17, 31, 48)

**Effect of permitless carry on homicide rate**

Let's first find the average mortality rate across the set of states in each of the `permitless` and `permit` data frames:

In [199]:
permitless

,Population,Homicides,Homicide Rate,Suicides,Suicide Rate,Permitless_open,Permitless_concealed
State,,,,,,,
Alabama,4921532,564,11.459846,542,11.012831,18.0,NaN
Alaska,731158,27,3.692772,133,18.190323,16.0,21.0
Arizona,7421401,382,5.147276,830,11.183872,18.0,21.0
Arkansas,3030522,282,9.305328,364,12.011132,18.0,18.0
Idaho,1826913,26,1.423166,277,15.162189,18.0,18.0
Kansas,2913805,160,5.491102,314,10.776287,18.0,21.0
Kentucky,4477251,341,7.616281,518,11.569599,18.0,21.0
Maine,1350141,15,1.110995,132,9.776757,18.0,21.0
Mississippi,2966786,499,16.819548,278,9.370410,18.0,18.0
Missouri,6151548,683,11.102896,704,11.444274,18.0,18.0
Montana,1080577,33,3.053924,189,17.490655,18.0,NaN
North Dakota,765309,17,2.221325,77,10.061296,NaN,18.0
Ohio,11693217,824,7.046820,903,7.722426,NaN,21.0
Oklahoma,3980783,269,6.757465,538,13.514929,21.0,21.0
South Dakota,892717,26,2.912457,88,9.857547,18.0,18.0
West Virginia,1784787,87,4.874531,220,12.326401,18.0,21.0
Wyoming,582328,18,3.091041,128,21.980739,18.0,21.0

Now let's conduct a test to see whether the average homicide rate differs between permitless carry states and states that require a permit to carry a gun. In this analysis, we will use the simplest approach, which is to directly compute the average of the homicide rates. We discuss an alternative approach in the problems further below.

Computing the average homicide rate for each class of states is easy:

In [227]:
permitless['Homicide Rate'].mean()

6.066280811037098

In [228]:
permit['Homicide Rate'].mean()

5.391510100924644

We can see that the homicide rate for permitless carry states is higher. We can perform bootstrap resampling to determine if the observed difference is statistically significant. Since our initial research hypothesis is that there is a difference in homicide rates between permitless carry states and those without, it makes sense to carry out a two-sided test. Our null hypothesis is that there is no difference in homicide rate between these two classes of states, and so we will pool the homicide rate data for all states and draw random bootstrap samples representing each class of states. We then determine the relative frequency of observing a difference in averages as high as the one present in the data:

In [229]:
# Averaged over states

num_sims=10_000
pooled=df2['Homicide Rate']
permitless_len = len(permitless)
permit_len = len(permit)
diff = permitless['Homicide Rate'].mean() - permit['Homicide Rate'].mean()

print(f'Observed difference in means was {diff:.2f}')


count = 0

for sim in range(num_sims):
  # Draw the bootstrap samples
  bs_permitless = npr.choice(pooled, permitless_len)
  bs_permit =npr.choice(pooled, permit_len)
  
  # Now compute the statistic for the bootstrap samples
  bs_t =  bs_permitless.mean() - bs_permit.mean() 

  # And conduct a two-sided test
  if abs(bs_t) >= diff:
    count+=1
    
print(f'Prob. of observing absolute difference as large as data =~ {count/num_sims: .2f}')

Observed difference in means was 0.67
Prob. of observing absolute difference as large as data =~  0.53

As an alternative to conducting the NHST using bootstrap resampling, we can conduct an analytical $T$-test.

In [223]:
Hvar = pooled.var()
Hvar

12.892755827048699

In [224]:
HT_var = Hvar * (1 / permitless_len + 1 / permit_len)
HT_var

1.1742927508507355

In [225]:
import scipy.stats as stats
import numpy as np
HT = stats.t(len(pooled)-2, scale = np.sqrt(HT_var))

In [226]:
2*HT.sf(0.7)

0.5215108674575085

# In-Class Assignment

Use the Student's $T$ random variable to determine a 95% confidence interval for the mean difference under the null hypothesis. Is the resulting confidence interval compatible with the observed difference of means?

*Hint:* The inverse CDF function in ```scipy.stats``` is called the Percent point function (PPF) and is given by the ```ppf``` method of random variable objects.